/* Global Source Page */
html, body {
width: calc(100vw - 0px);
scroll-behavior: smooth;
font-family: "Montserrat", sans-serif;
background: var(--npm-blue-2-color);
margin: 0px 0px 0px 0px; 
padding: 0px 0px 0px 0px; 
border: none; 
-ms-overflow-style: none!important;
scrollbar-width: none!important; 
overflow-x: none!important;
overflow-y: none!important;
-webkit-appearance: none!important;
-moz-appearance: none!important;
-ms-overflow-style: none!important;
overflow: none!important;
background: linear-gradient(to right, 
    #FFB3BA, /* Pastel Red/Pink */
    #FFDFBA, /* Pastel Orange */
    #FFFFBA, /* Pastel Yellow */
    #BAFFC9, /* Pastel Green */
    #BAE1FF, /* Pastel Blue */
    #D0BAFF  /* Pastel Violet */
  );
}

h1{
color: var(--pastel-orange-1-color);
-webkit-text-stroke: 1px var(--npm-blue-3-color);
font-family: "Luckiest Guy", sans-serif;
transform: rotate(-4deg);
text-shadow: 1px 1px 20px var(--npm-blue-3-color);
}
h2{
color: var(--npm-blue-3-color);
font-family: "Henny Penny", sans-serif;
}
h3{
color: var(--pastel-rainbow-3-color);
font-family: "Luckiest Guy", sans-serif;
}

/* For the entire page */
body::-webkit-scrollbar {display: none}
/* For a specific element with class 'scrollable-content' */
.scrollable-content::-webkit-scrollbar {display: none}
::-webkit-scrollbar { width: 0px; }
::-webkit-scrollbar-thumb { width: 0px; }
a {text-decoration:none}
.scrollable-element {  height: 100vh; overflow-y: scroll; }

/* 1st_screen */
#first_screen {
width: 100vw;
height: 100vh;
margin: 0px 0px 0px 0px;
background-image: url(../image/display1.webp);
background-size: cover;
background-position: top center;
background-repeat:no-repeat;
border:none;
display:block;
}
.top_first_screen {
width: calc(100vw - 20px);
height: auto;
background-color: rgba(208, 244, 252, 0.4);
padding: 10px 10px 10px 10px;
display: block;
text-align: center;
}
.top_first_screen div {
font-family: "Roboto", sans-serif;
font-size: 22px;
min-width: 150px;
height: auto;
background-color: var(--npm-blue-3-color);
color: var(--npm-blue-5-color);
padding: 8px 20px 8px 20px;
margin: 0px 0px 0px 0px;
display: inline-block;
cursor: pointer;
border-radius: 10px;
border: none;
}
.top_first_screen div:hover {
background-color: var(--npm-blue-5-color);
color: var(--npm-blue-3-color);
box-shadow: 5px 5px var(--npm-blue-3-color);
}
.title_first_screen {
color: var(--pastel-orange-1-color);
text-shadow: 2px 2px var(--pastel-orange-6-color);
font-family: "Henny Penny", sans-serif;
font-weight:bold;
font-size: 5vw;
display: inline-block;
transform: rotate(-5deg);
transform-origin: center center;
z-index: 10;
width: auto;
margin-top: 20vh;
position: relative
}
.desc_first_screen {
color:  rgba(242, 237, 218, 0.8);
-webkit-text-stroke: 0.3vw var(--npm-blue-3-color);
transform: rotate(0deg);
transform-origin: top left;
font-family: "Luckiest Guy", sans-serif;
font-size: 5vw;
display: inline-block;
z-index: 10;
width: auto;
position: relative
}

/* 2nd_screen */
#second_screen {
width: 100vw;
min-height: 100vh;
height: auto;
margin: 10px 0px 10px 0px;
padding: auto auto auto auto;
background-image: url(../image/display2.webp);
background-blend-mode: darken;
background-size: cover;
background-position: top center;
background-repeat:no-repeat;
border: none;
display: inline-block;
vertical-align: top;
border-top-left-radius: 95%;
}
#second_screen h1{
padding-top: 50px;
display: block;
font-size: 6vw;
width: auto;
text-shadow: 1px 1px 20px var(--npm-blue-3-color);
}
.title_second_screen {
max-width: 640px;
max-height: auto;
margin: auto auto 20px 20px;
background-color: #FFFFFF;
display: inline-block;
position: relative;
float: right;
padding: 20px 20px 20px 20px;
text-align: left;
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
}
.desc_second_screen {
width: auto;
height: auto;
margin: auto 20px auto auto;
background-color: #FFFFFF;
display: inline-block;
position: relative;
float: left;
padding: 20px 20px 20px 20px;
text-align: left;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
}


/* 3rd_screen */
#third_screen {
width: 100vw;
height: auto;
margin: 10px 0px 10px 0px;
padding: 25vh auto 25vh auto;
background-color: var(--npm-blue-1-color);
border: none;
display: inline-block;
vertical-align: middle;
}
#third_screen h1{
font-size: 3vw;
}
#third_screen h2{
font-size: 22px;
}
.title_third_screen {
width: calc(50% - 20px);
height: calc(50% + 0px);
margin: calc(5% + 15px) auto auto auto;
background-image: url(../image/display35.webp);
background-size: cover;
background-position: center center;
background-repeat:no-repeat;
display: inline-block;
position: absolute;
float: left;
z-index: 5;
animation: ImgChange 10s forwards;
animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes ImgChange {
0%   {background-image: url(../image/display31.webp)};
25%  {background-image: url(../image/display32.webp)};
50%  {background-image: url(../image/display33.webp)};
75%  {background-image: url(../image/display34.webp)};
100% {background-image: url(../image/display35.webp)};
}
.desc_third_screen {
width: 45vw;
height: 100%;
margin: 30px 20px 30px auto;
background-color: #FFFFFF;
display: inline-block;
position: relative;
float: right;
padding: 10px 20px 20px 20px;
text-align: left;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
z-index: 10;
}


/* 4th_screen */
#fourth_screen {
width: 100vw;
height: auto;
margin: 0px 0px 0px 0px;
padding: 20px auto 20px auto;
background-image: url(../image/display4.webp);
background-size: cover;
background-position: top center;
background-repeat:no-repeat;
border: none;
display: block;
vertical-align: middle;
}
#fourth_screen h1{
margin-top: 50px;
position:absolute;
width: 100vw;
font-size: 5vw;
}
#fourth_screen h2{
font-size: 22px;
}
#fourth_screen span{
display: inline-block;
padding: 55px 10px 5px 10px;
margin-top: 100px;
width: 300px;
height: auto;
background-color: rgba(164, 213, 212, 0.8);
vertical-align: top;
border-bottom-right-radius:30px;
cursor: pointer;
text-align: left;
}
#fourth_screen span:hover{
background-color: rgba(255, 255, 255, 0.8);
}


/* 5th_screen */
#fifth_screen {
width: 100vw;
min-height: 100vh;
border: none;
display: block;
}
#fifth_screen h1{
font-size: 5vw;
}
#fifth_screen h2{
font-size: 22px;
}
#fifth_screen h3{
font-size: 24px;
-webkit-text-stroke: 1px var(--npm-blue-3-color);
margin: 0px 0px 0px 0px;
background-color: rgba(28, 46, 92, 0.5);
text-align: center;
border-top-right-radius: 20px;
}
.body_fifth_screen{
margin: auto auto auto auto;
padding: 20px 20px 20px 20px;
width: calc(100vw - 20px);
min-height: auto;
position:relative;
vertical-align: top;
margin-left: -20px;
}
.box_desc_fifth_screen {
display: inline-block;
width: calc(100vw - 23px);
height: 540px;
background-color: rgba(28, 46, 92, 0.5);
overflow-x: hidden;
overflow-y: hidden;
white-space: nowrap;
padding: 10px;
}
@keyframes scrollLeftToRight {
      0% {transform: translateX(0%); }
	  50% {transform: translateX(-350%);}
      100% {transform: translateX(0%);}
    }
.box_desc_fifth_screen div{
position:relative;
vertical-align: text-top;
display: inline-block;
padding: 10px;
vertical-align: top;
width: auto;
animation: scrollLeftToRight 30s forwards;
transform: translateX(-0%);
animation-iteration-count: infinite;
} 
.box_desc_fifth_screen img {
height: calc(540px - 80px);
border-bottom-left-radius: 50px;
} 
.box_desc_fifth_screen2nd {
display: inline-block;
width: calc(100vw - 0px);
height: auto;
}
.box_desc_fifth_screen2nd div {
position: relative;
display:inline-block;
min-width: 120px;
min-height: 70px);
border-radius: 20px;
background-color: var(--pastel-rainbow-4-color);
cursor: pointer;
text-align: center;
vertical-align: middle;
font-size: 22px;
padding: 10px;
margin: 10px;
color: var(--pastel-green-6-color);
border: solid var(--pastel-green-6-color);
box-shadow: 0px 0px 20px var(--pastel-rainbow-4-color);
}
.box_desc_fifth_screen2nd div:hover {
background-color: var(--pastel-green-6-color);
color: var(--pastel-rainbow-2-color);
border: solid var(--pastel-rainbow-4-color);
box-shadow: 0px 0px 20px var(--pastel-green-6-color);
}
.box_desc_fifth_screen2nd div i{
display: inline-block;
}
.box_desc_fifth_screen2nd div span{
position: relative;
display: inline-block;
text-align: center;
vertical-align: middle;
}
/* 6th_screen */
#sixth_screen {
width: 100vw;
height: 100vh;
margin: 0px 0px 0px 0px;
padding: 20px auto 20px auto;
background-size: cover;
background-position: top center;
background-repeat:no-repeat;
border: none;
display: block;
vertical-align: top;
}
#lokasi .row .col-md{
vertical-align: top;
display: inline-block;
width: auto;
margin: 10px 5px 10px 5px;
padding: 20px 5px 20px 5px;
vertical-align: top;
text-align: left;
}