/* CSS Document Color Pallet */

:root {
/* CSS Color Pallet Neumorphism blue*/
  --npm-blue-1-color: #4e63b4;
  --npm-blue-2-color: #d0f4fc;
  --npm-blue-3-color: #1c2c5c;
  --npm-blue-4-color: #a3735c;  
  --npm-blue-5-color: #a4d5d4;  
  --npm-blue-6-color: #4c4c3c;
  
/* CSS Color Pallet Neumorphism red*/  
  --npm-red-1-color: #f95e5e;
  --npm-red-2-color: #7cfc7c;
  --npm-red-3-color: #7f0404;
  --npm-red-4-color: #ac9d9d;  
  --npm-red-5-color: #e1bcb9;  
  --npm-red-6-color: #0c0c0c;
  
/* CSS Color Pallet Neumorphism orange*/  
  --npm-orange-1-color: #f17866;
  --npm-orange-2-color: ##efa37f;
  --npm-orange-3-color: #79190b;
  --npm-orange-4-color: #8c1d0c;  
  --npm-orange-5-color: #ebdcdd;  
  --npm-orange-6-color: #8c1d0c;
  
/* CSS Color Pallet Neumorphism greensoft*/  
  --npm-greensoft-1-color: #0ade75;
  --npm-greensoft-2-color: #66c4f8;
  --npm-greensoft-3-color: #04c964;
  --npm-greensoft-4-color: #5cac94;  
  --npm-greensoft-5-color: #b7bece;  
  --npm-greensoft-6-color: #02964a;  
     
/* CSS Color Pallet Neumorphism greendark*/  
  --npm-greendark-1-color: #04f199;
  --npm-greendark-2-color: #7cfccd;
  --npm-greendark-3-color: #0eb072;
  --npm-greendark-4-color: #848c8c;  
  --npm-greendark-5-color: #d1d1d1;  
  --npm-greendark-6-color: #213930;  
     
/* CSS Color Pallet Neumorphism greenligth*/  
  --npm-greenligth-1-color: #84dc1c;
  --npm-greenligth-2-color: #bcf45c;
  --npm-greenligth-3-color: #548c19;
  --npm-greenligth-4-color: #a47257;  
  --npm-greenligth-5-color: #9aadc4;  
  --npm-greenligth-6-color: #2a3454;  
	 
/* CSS Color Pallet Pastel pink*/ 
  --pastel-pink-1-color: #ffc1d2;
  --pastel-pink-2-color: #ffc8d7;
  --pastel-pink-3-color: #ffcfdc;
  --pastel-pink-4-color: #ffd6e1;
  --pastel-pink-5-color: #ffdde6;
  --pastel-pink-6-color: #ffe3eb;

/* CSS Color Pallet Pastel green*/ 
  --pastel-green-1-color: #77dd77;
  --pastel-green-2-color: #6bc76b;
  --pastel-green-3-color: #5fb15f;
  --pastel-green-4-color: #539b53;
  --pastel-green-5-color: #478547;
  --pastel-green-6-color: #244224;

/* CSS Color Pallet Pastel blue*/ 
  --pastel-blue-1-color: #92ace5;
  --pastel-blue-2-color: #8299cb;
  --pastel-blue-3-color: #7186b2;
  --pastel-blue-4-color: #617398;
  --pastel-blue-5-color: #51607f;
  --pastel-blue-6-color: #31394c;

/* CSS Color Pallet Pastel red*/ 
  --pastel-red-1-color: #df6967;
  --pastel-red-2-color: #e27978;
  --pastel-red-3-color: #e68a89;
  --pastel-red-4-color: #e99b9a;
  --pastel-red-5-color: #edacab;
  --pastel-red-6-color: #f4cdcc;

/* CSS Color Pallet Pastel orange*/ 
  --pastel-orange-1-color: #f05457;
  --pastel-orange-2-color: #d7806d;
  --pastel-orange-3-color: #d7ae9c;
  --pastel-orange-4-color: #e7cb95;
  --pastel-orange-5-color: #e5dfc8;
  --pastel-orange-6-color: #f2edda;

/* CSS Color Pallet Pastel rainbow*/ 
  --pastel-rainbow-1-color: #a9bcff;
  --pastel-rainbow-2-color: #9affff;
  --pastel-rainbow-3-color: #18ffb1;
  --pastel-rainbow-4-color: #ffffad;
  --pastel-rainbow-5-color: #ffd493;
  --pastel-rainbow-6-color: #ff9f8c;
  
  /* CSS Color Pallet Pastel stabilo*/ 
  --pastel-rainbow-1-color: #fbd206;
  --pastel-rainbow-2-color: #feaf8a;
  --pastel-rainbow-3-color: #fd7a8c;
  --pastel-rainbow-4-color: #cc89d6;
  --pastel-rainbow-5-color: #bfcff0;
  --pastel-rainbow-6-color: #9ce7c9;
  --pastel-rainbow-7-color: #4dc656;
  }