/* Global Source Page */
html {
scroll-behavior: smooth;
font-family: "Fira Sans", sans-serif;
}
:root {
  --orange-color: #f29b05;
  --softblue-color: #7bd1ed; /* Example secondary gray */
}

html, body {
margin: 0px; 
padding: 0px; 
border: 0px; 
-ms-overflow-style: none!important;
scrollbar-width: none!important; 
overflow-x: none!important;
overflow-y: none!important;
-webkit-appearance: none!important;
-moz-appearance: none!important;
-ms-overflow-style: none!important;
overflow: none!important;
top:0px; left:0px; right:0px;
}
/* For the entire page */
body::-webkit-scrollbar {
  display: none;
}

/* For a specific element with class 'scrollable-content' */
.scrollable-content::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar { width: 0px; }
::-webkit-scrollbar-thumb { width: 0px; }
a {
    color: inherit;
	text-decoration:none;
}
.scrollable-element {
  height: 100vh; /* Sets the height to 100% of the viewport height */
  overflow-y: scroll; /* Enables vertical scrolling if content exceeds 100vh */
}
/* Top Head Dropdown */
.tophead-1 {
width: calc(100vw - 0px);
background-color:transparent;
min-height: auto;
margin: 0px 0px 0px -10px;
padding: 0px 0px 0px 0px;
top: 0px;
left: 0px;
position:relative;
z-index:5;
text-align:center;
vertical-align: baseline;
}
.headlogo {
width: auto;
background-color: transparent;
margin: 0px
padding: 0px;
height: auto;
z-index:10;
display: inline-block;
text-align:center;
vertical-align:middle;
}
.headlogo img {
z-index:1;
display: inline-block;
max-height: 40px;
position: relative;
margin: auto;
}
.headdopdown {
width: 200px;
--c: no-repeat linear-gradient(var(--orange-color) 0 0);
background: var(--c)  calc(-101% + var(--p,0%)) 100% / 50.1% var(--p,.08em),var(--c)  calc( 201% - var(--p,0%)) 0    / 50.1% var(--p,.08em);
transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
margin: 10px 0px 0px 0px;
padding: 10px;
height: auto;
z-index:10;
display: inline-block;
text-align:center;
text-decoration:none;
font-size: 24px;
vertical-align:middle;
cursor: pointer;
border-radius: 10px;
}
.headdopdown:hover {
  --p: 101%;
  --t: 0.3s;
  color:#FFFFFF;
}
.listheaddopdown{
width: 800px;
background-color: var(--softblue-color);
position: absolute;
height: auto;
padding: 10px;
margin: auto auto auto  auto;
display:block;
border:1px;
z-index:20;
text-align: left;
visibility: hidden;
font-size:20px;
opacity: 0;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
margin-left: 280px;
}
.listheaddopdown a{
padding: 0px 60px 10px 40px;
text-decoration:none;
cursor: pointer;
color: inherit;
display: inline-block;
}
.listheaddopdown a:hover{
color: var(--orange-color);
}
.headdopdown-2:hover + .listheaddopdown-2, .listheaddopdown-2:hover{
opacity: .9;
visibility: visible !important;
transition: opacity 0.5s ease-in;
}
.headdopdown-3:hover + .listheaddopdown-3, .listheaddopdown-3:hover{
opacity: .9;
visibility: visible !important;
transition: opacity 0.5s ease-in;
}
.headdopdown-4:hover + .listheaddopdown-4, .listheaddopdown-4:hover{
opacity: .9;
visibility: visible !important;
transition: opacity 0.5s ease-in;
}
.headdopdown-5:hover + .listheaddopdown-5, .listheaddopdown-5:hover{
opacity: .9;
visibility: visible !important;
transition: opacity 0.5s ease-in;
} 



/* #1st Screen */ 
.imghead-1, .imghead-2, .imghead-3, .imghead-4, .imghead-5{
z-index:15;
width: calc(100vw + 10px);
height: calc(100vh - 0vh);
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
background-image: url(../image/display.jpg);
background-attachment:scrol;
background-size: cover;
background-position: top center;
background-repeat:no-repeat;
border:none;
scroll-behavior: smooth;
}
.imghead-1 {
background-image: url(../image/display1.jpg);
border:none;
height: calc(100vh - 70px);
text-align:center;
vertical-align: baseline;
margin-top: 15px;
animation: ZoomImage 10s ease-in;
animation-iteration-count: infinite;
}
@keyframes ZoomImage {
0%    {background-size: 500% auto;}
10%   {background-size: 400% auto;}
20%   {background-size: 300% auto;}
30%   {background-size: 200% auto;}
40%   {background-size: 100% auto;}
50%   {background-size: cover;}
60%   {background-size: 100% auto;}
70%   {background-size: 200% auto;}
80%   {background-size: 300% auto;}
90%   {background-size: 400% auto;}
100%  {background-size: 500% auto;}
}
.imghead-1 h1{
position:absolute;
margin:auto;
margin-top: 20vh;
width:100vw;
font-size: clamp(2rem, 14vmin, 8rem);
font-family: 'Poppins', sans-serif;
text-transform: uppercase;
display: grid;
line-height: 1;
color:#FFFFFF;
text-shadow: 5px 5px rgba(0, 0, 0, 0.8);
opacity: 0;
animation: fadeIn 10s forwards;
animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes fadeIn {
0%   {opacity: 0.1; /* End with the element fully visible */}
25%  {opacity: 0.5; /* End with the element fully visible */}
50%  {opacity: 1; /* End with the element fully visible */}
75%  {opacity: 0.5; /* End with the element fully visible */}
100% {opacity: 0.1; /* End with the element fully visible */}
}

/* #2nd Screen */
.tophead-2 {
width: calc(100vw - 0px);
background-color:transparent;
min-height: auto;
margin: -48px 0px 0px 0px;
padding-top: 0px;
top: 0px;
left: 0px;
position:relative;
z-index:5;
text-align:center;
vertical-align: baseline;
}
.middopdown {
width: 180px;
background: linear-gradient(var(--softblue-color) 0 0) no-repeat calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.08em);
transition: 0.3s var(--t, 0s),
background-position 0.3s calc(0.3s - var(--t, 0s));
background-color:rgba(255, 255, 255, 0.8);
margin: 0px 0px 0px 0px;
padding: 10px;
height: auto;
z-index:10;
display: inline-block;
text-align:center;
text-decoration:none;
vertical-align:middle;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
cursor: pointer;
font-size: 24px;
}
.middopdown:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}
.imghead-2 {
background-image: url(../image/display2.jpg);
border:none;
animation: ImgChange 50s forwards;
animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes ImgChange {
0%   {background-image: url(../image/display21.jpg)}
25%  {background-image: url(../image/display22.jpg)}
50%  {background-image: url(../image/display23.jpg)}
75%  {background-image: url(../image/display24.jpg)}
100% {background-image: url(../image/display25.jpg)}
}
.listmiddopdown{
width: 100%;
position: absolute;
height: auto;
display: block;
z-index:20;
text-align: center;
margin-top: 0px;
color: #000000;
visibility: hidden;
font-size: 24px;
line-height: 1.5;
}
.listmiddopdown a{
font-size:20px;
display: inline-block;
width: calc(100vw - 20vw);
min-height: calc(100vh - 95px);
background-color: var(--softblue-color);
border-radius:20px;
border-radius:20px;
padding: 40px;
margin: 2px auto auto auto;
text-align: left;
}
.middopdown-1:hover + .listmiddopdown a, .listmiddopdown a:hover{
animation: fadeInTab 5s forwards;
}
.middopdown-2:hover + .listmiddopdown a, .listmiddopdown a:hover{
animation: fadeInTab 5s forwards;
}
.middopdown-3:hover + .listmiddopdown a, .listmiddopdown a:hover{
animation: fadeInTab 5s forwards;
}
.middopdown-4:hover + .listmiddopdown a, .listmiddopdown a:hover{
animation: fadeInTab 5s forwards;
}

@keyframes fadeInTab {
  to {
  	visibility: hidden;
    visibility: visible; /* End with the element fully visible */
	background-color: var(--softblue-color);
	opacity: 0.7;
  }
}
.listmiddopdown a p {color : rgba(0, 0, 0, 2)}


/* #3rd Screen */
.tophead-3 {

}
.imghead-3 {
background-image: url(../image/display3.jpg);
border:none;
margin-left: 0px;
}

/* #4th Screen */
.tophead-4 {

}
.imghead-4 {
background-image: url(../image/display4.jpg);
border:none;
margin-left: 0px;
}

/* #5th Screen Footer */
.tophead-5 {

}
.imghead-5 {
background-color: var(--softblue-color);
border:none;
margin-left: 0px;
height: calc(100vh + 60px);
}
footer {
padding: 100px;
position:relative;
margin: auto;
vertical-align: middle;
text-decoration:none;
text-align:center;
}
footer span {
position:relative;
display: inline-block;
margin: auto;
vertical-align: middle;
max-width: 380px;
padding-left: 30px;
padding-right: 30px;
text-align:left;
}