/* Global Source Page */
html, body {
width: calc(100vw - 0px);
scroll-behavior: smooth;
font-family: "Montserrat", sans-serif;
background: var(--npm-blue-2-color);
margin: 0px 0px 0px 0px; 
padding: 0px 0px 0px 0px; 
border: none; 
-ms-overflow-style: none!important;
scrollbar-width: none!important; 
overflow-x: none!important;
overflow-y: none!important;
-webkit-appearance: none!important;
-moz-appearance: none!important;
-ms-overflow-style: none!important;
overflow: none!important;
background: linear-gradient(to right, 
    #FFB3BA, /* Pastel Red/Pink */
    #FFDFBA, /* Pastel Orange */
    #FFFFBA, /* Pastel Yellow */
    #BAFFC9, /* Pastel Green */
    #BAE1FF, /* Pastel Blue */
    #D0BAFF  /* Pastel Violet */
  );
font-size: clamp(16px, 3vw, 18px);
  -webkit-font-smoothing: antialiased; /* For WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
  text-rendering: optimizeLegibility; /* For general text rendering optimization */
}

h1{
color: var(--pastel-orange-1-color);
-webkit-text-stroke: 1px var(--npm-blue-3-color);
font-family: "Luckiest Guy", sans-serif;
transform: rotate(-4deg);
text-shadow: 1px 1px 20px var(--npm-blue-3-color);
font-size: clamp(32px, 6vw, 80px);
}
h2{
color: var(--npm-blue-3-color);
font-family: "Henny Penny", sans-serif;
font-size: clamp(24px, 3vw, 38px);
}
h3{
color: var(--pastel-rainbow-3-color);
font-family: "Luckiest Guy", sans-serif;
font-size: clamp(18px, 2vw, 22px);
}

/* For the entire page */
body::-webkit-scrollbar {display: none}
/* For a specific element with class 'scrollable-content' */
.scrollable-content::-webkit-scrollbar {display: none}
::-webkit-scrollbar { width: 0px; }
::-webkit-scrollbar-thumb { width: 0px; }
a {text-decoration:none}
.scrollable-element {  height: 100vh; overflow-y: scroll; }

object {
box-sizing: border-box; 
}

#scrollButton{
position: fixed;
z-index: 50;
display: block;
margin-top: 45vh;
margin-left: calc(100vw - 60px);
float: right;
padding: 10px;
color: #FFFFFF;
border-radius: 20%;
cursor: pointer;
}
#scrollButton div{
background-color: rgba(0, 0, 0, 0.4);
display: block;
padding: 10px;
color: #FFFFFF;
border-radius: 20%;
cursor: pointer;
}
#scrollButton div:hover{
background-color: rgba(0, 0, 0, 0.9);
}

/* 1st_screen */
#first_screen {
width: 100vw;
height: 100vh;
margin: 0px 0px 0px 0px;
background-image: url(../image/display1.webp);
background-size: cover;
background-position: center center;
background-repeat:no-repeat;
border:none;
display:block;
}

.top_first_screen {
width: calc(100vw - 20px);
height: auto;
background-color: rgba(208, 244, 252, 0.4);
padding: 30px 10px 30px 10px;
display: block;
text-align: center;
}
.top_first_screen a div {
font-family: "Roboto", sans-serif;
font-size: 22px;
min-width: 150px;
height: auto;
--c: no-repeat linear-gradient(var(--npm-blue-5-color) 0 0);
background: var(--c)  calc(-101% + var(--p,0%)) 100% / 50.1% var(--p,.08em),var(--c)  calc( 201% - var(--p,0%)) 0    / 50.1% var(--p,.08em);
transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
padding: 8px 20px 8px 20px;
margin: 0px 0px 0px 0px;
display: inline-table;
cursor: pointer;
border-radius: 10px;
border: none;
color: var(--npm-blue-5-color);
background-color: var(--npm-blue-3-color);
}
.top_first_screen a div:hover {
  --p: 101%;
  --t: 0.3s;
  color:var(--npm-blue-3-color);
}
.listheaddopdown {
display: block;
position: absolute;
top: 100px;
width: 100%;
z-index: 40;
padding: 0px;
text-align:center;
}
#BtNmenu1, #BtNmenu2 {
display: none;
visibility: hidden;
}
.listheaddopdown a{ 
padding: 10px 10px 10px 10px;
display: inline-block;
position: relative;
width: 200px;
color: var(--npm-red-6-color);
background-color: var(--npm-blue-5-color);
border-radius: 10px;
}
.listheaddopdown a:hover{ 
color: var(--npm-red-1-color);
background-color: var(--npm-red-6-color);
}

.title_first_screen {
color: var(--pastel-orange-1-color);
text-shadow: 2px 2px var(--pastel-orange-6-color);
font-family: "Henny Penny", sans-serif;
font-weight:bold;
font-size: clamp(32px, 6vw, 80px);
display: inline-block;
transform: rotate(-5deg);
transform-origin: center center;
z-index: 10;
width: auto;
margin-top: 20vh;
position: relative;
}
.desc_first_screen {
color:  rgba(242, 237, 218, 0.8);
-webkit-text-stroke: 0.3vw var(--npm-blue-3-color);
transform: rotate(0deg);
transform-origin: top left;
font-family: "Luckiest Guy", sans-serif;
font-size: clamp(32px, 6vw, 80px);
display: inline-block;
z-index: 10;
width: auto;
position: relative
}
.top_first_screen_mobile {visibility: hidden; display: none;}
@media screen and (max-width: 1200px) {
.top_first_screen {visibility: hidden; display: none;}
.title_first_screen {margin-top: 20vh;}
.top_first_screen_mobile {
visibility: visible;
display: block;
background-color: rgba(255, 255, 255, 0.8);
height: 50px;
width: 100%;
position: fixed;
Z-index: 50;
padding: 0px 0px 0px 0px;
}
.top_first_screen_mobile_list{
visibility: hidden;
display: none;
background-color: rgba(255, 255, 255, 0.9);
height: 100%;
width: 340px;
position: fixed;
Z-index: 50;
padding: 20px 10px 20px 10px;
}
.top_first_screen_mobile_list a{
padding: 20px 10px 20px 10px;
}
.listheaddopdown {
display: block;
position: relative;
top: 0px;
width: 100%;
z-index: 40;
padding: 0px;
text-align:left;
}
.listheaddopdown a{
padding: 2px 2px 2px 10px;
display: inline-block;
position: relative;
width: 200px;
color: inherit;
background-color: transparent;
border-radius: 10px;
}
#BtNmenu3, #BtNmenu4 {
display: none;
visibility: hidden;
}
/*
#second_screen, #third_screen, #fourth_screen, #fifth_screen, #sixth_screen, #seventh_screen {
filter: invert(100%) blur(3px);
}
#second_screen:hover, #third_screen:hover, #fourth_screen:hover, #fifth_screen:hover, #sixth_screen:hover, #seventh_screen:hover  {
            filter: invert(0%) blur(0px);
            transition: filter 1s ease-in, transform 1s ease-out;
}

/* 2nd_screen */
#second_screen {
width: 100vw;
min-height: 100vh;
height: auto;
padding: 20px auto 20px auto;
background-image: url(../image/display2.webp);
background-blend-mode: darken;
background-size: cover;
background-position: center center;
background-repeat:no-repeat;
border: none;
display: inline-block;
vertical-align: top;
border-top-left-radius: 95%;
}
#second_screen h1{
padding-top: 50px;
display: block;
width: auto;
text-shadow: 1px 1px 20px var(--npm-blue-3-color);
}
.title_second_screen {
min-width: calc(50vw - 20vw);
min-height: auto;
margin: auto 20px 20px auto;
background-color: #FFFFFF;
display: inline-block;
position: relative;
float: left;
padding: 20px 30px 20px 30px;
text-align: left;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /* An outer shadow */
}
.desc_second_screen {
min-width: calc(50vw - 20vw);
min-height: auto;
margin: auto auto 20px 20px;
background-color: #FFFFFF;
display: inline-block;
position: relative;
float: right;
padding: 20px 30px 20px 30px;
text-align: left;
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.5); /* An outer shadow */
}


/* 3rd_screen */
#third_screen {
width: 100vw;
min-height: auto;
margin: 10px 0px 10px 0px;
padding: 25vh auto 25vh auto;
background-color: var(--npm-blue-1-color);
border: none;
display: inline-block;
vertical-align: middle;
}
.title_third_screen_left {
width: 350px;
max-width: 800px;
min-height: 350px;
margin: 20px auto 20px auto;
background-image: url(../image/display35.webp);
background-size: cover;
background-position: center center;
background-repeat:no-repeat;
display: inline-block;
position: relative;
z-index: 5;
animation: ImgChange1 40s forwards;
animation-iteration-count: infinite;
animation-direction: alternate;
border-top: 5px solid var(--npm-blue-5-color);
border-left: 5px solid var(--npm-blue-5-color);
}
.desc_third_screen_left {
min-width: calc(50vw - 0vw);
min-height: 350px;
background-color: #FFFFFF;
display: inline-block;
position: relative;
padding: 20px 30px 20px 30px;
text-align: left;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
z-index: 10;
margin-bottom: 20px;
margin-right: 20px;
border-bottom: 5px solid var(--npm-blue-5-color);
border-right: 5px solid var(--npm-blue-5-color);
}
@keyframes ImgChange1 {
0%   {background-image: url(../image/display31.webp)};
15%  {background-image: url(../image/display32.webp)};
30%  {background-image: url(../image/display33.webp)};
45%  {background-image: url(../image/display34.webp)};
60%  {background-image: url(../image/display35.webp)};
75%  {background-image: url(../image/display36.webp)};
85%  {background-image: url(../image/display37.webp)};
100% {background-image: url(../image/display38.webp)};
}
.title_third_screen_right {
width: 350px;
max-width: 800px;
min-height: 350px;
margin: 20px auto 20px auto;
background-image: url(../image/activity31.webp);
background-size: cover;
background-position: center center;
background-repeat:no-repeat;
display: inline-block;
position: relative;
z-index: 5;
animation: ImgChange2 30s forwards;
animation-iteration-count: infinite;
animation-direction: alternate;
border-bottom: 5px solid var(--npm-blue-5-color);
border-right: 5px solid var(--npm-blue-5-color);
}
.desc_third_screen_right {
min-width: calc(50vw - 0vw);
min-height: 350px;
background-color: #FFFFFF;
display: inline-block;
position: relative;
padding: 20px 30px 20px 30px;
text-align: left;
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
z-index: 10;
margin-bottom: 20px;
margin-left: 20px;
border-top: 5px solid var(--npm-blue-5-color);
border-left: 5px solid var(--npm-blue-5-color);
}
@keyframes ImgChange2 {
0%   {background-image: url(../image/activity31.webp)};
10%  {background-image: url(../image/activity32.webp)};
20%  {background-image: url(../image/activity33.webp)};
30%  {background-image: url(../image/activity34.webp)};
40%  {background-image: url(../image/activity35.webp)};
50%  {background-image: url(../image/activity36.webp)};
60%  {background-image: url(../image/activity37.webp)};
70% {background-image: url(../image/activity38.webp)};
80%  {background-image: url(../image/activity39.webp)};
90% {background-image: url(../image/activity310.webp)};
100%   {background-image: url(../image/activity31.webp)};
}

/* 4th_screen */
#fourth_screen {
width: 100vw;
height: auto;
margin: 0px 0px 0px 0px;
background-image: url(../image/display4.webp);
background-size: cover;
background-position: top center;
background-repeat:no-repeat;
border: none;
display: inline-block;
vertical-align: middle;
}
#fourth_screen h1{
margin-top: 50px;
position:relative;
width: 100vw;
}
#fourth_screen h2{
font-size: clamp(20px, 2vw, 28px);
}
#fourth_screen span{
display: inline-block;
padding: 10px 10px 5px 10px;
margin-top: 10px;
margin-bottom: 10px;
width: 300px;
min-width: 22vw;
height: auto;
background-color: rgba(164, 213, 212, 0.8);
vertical-align: top;
border-bottom-right-radius:30px;
cursor: pointer;
text-align: left;
}
#fourth_screen span:hover{
background-color: rgba(255, 255, 255, 0.8);
}


/* 5th_screen */
#fifth_screen {
width: 100vw;
min-height: 100vh;
border: none;
display: block;
}
#fifth_screen h3{
-webkit-text-stroke: 1px var(--npm-blue-3-color);
margin: 0px 0px 0px 0px;
background-color: rgba(28, 46, 92, 0.5);
text-align: center;
border-top-right-radius: 20px;
}
.body_fifth_screen{
margin: auto auto auto auto;
padding: 20px 20px 20px 20px;
width: calc(100vw - 20px);
min-height: auto;
position:relative;
vertical-align: top;
margin-left: -20px;
}
.box_desc_fifth_screen {
display: inline-block;
width: calc(100vw - 23px);
height: 540px;
background-color: rgba(28, 46, 92, 0.5);
overflow-x: hidden;
overflow-y: hidden;
white-space: nowrap;
padding: 10px;
}
@keyframes scrollLeftToRight {
      0% {transform: translateX(0%); }
	  50% {transform: translateX(-350%);}
      100% {transform: translateX(0%);}
    }
.box_desc_fifth_screen div{
position:relative;
vertical-align: text-top;
display: inline-block;
padding: 10px;
vertical-align: top;
width: auto;
animation: scrollLeftToRight 30s forwards;
transform: translateX(-0%);
animation-iteration-count: infinite;
} 
.box_desc_fifth_screen img {
height: calc(540px - 80px);
border-bottom-left-radius: 50px;
} 
.box_desc_fifth_screen2nd {
display: inline-block;
width: calc(100vw - 0px);
height: auto;
}
.box_desc_fifth_screen2nd div {
position: relative;
display: inline-block;
width: 220px;
height: auto;
padding: 10px;
margin: 10px;
}
.box_desc_fifth_screen2nd div a{
position: inherit;
display: inherit;
width: inherit;
height: inherit;
border-radius: 20px;
cursor: pointer;
text-align: center;
font-size: 22px;
padding: 10px;
margin: 10px;
background-color: var(--pastel-rainbow-4-color);
color: var(--pastel-green-6-color);
border: solid var(--pastel-green-6-color);
box-shadow: 0px 0px 20px var(--pastel-rainbow-4-color);
}
.box_desc_fifth_screen2nd div a:hover {
background-color: var(--pastel-green-6-color);
color: var(--pastel-rainbow-4-color);
border: solid var(--pastel-rainbow-4-color);
box-shadow: 0px 0px 20px var(--pastel-green-6-color);
}
.box_desc_fifth_screen2nd div i{
display: inline-block;
}
.box_desc_fifth_screen2nd div span{
position: relative;
display: inline-block;
text-align: center;
vertical-align: middle;
}
.desc_fifth_thrird3nd {

}
.box_desc_fifth_thrird3nd {
width: 100vw;
height: 50vh;
margin: 10px 0px 10px 0px;
background-image: url(../image/display6.webp);
background-size: cover;
background-position: center center;
background-repeat:no-repeat;
border:none;
display:block;
text-align: center;
}
.box_desc_fifth_thrird3nd h2{
position: absolute;
display: block;
width: 90vw;
color: var(--pastel-orange-3-color);
-webkit-text-stroke: 1px var(--npm-blue-3-color);
font-family: "Luckiest Guy", sans-serif;
transform: rotate(-4deg);
text-shadow: 1px 1px 20px var(--npm-blue-3-color);
font-size: clamp(32px, 6vw, 80px);
margin-top: 20vh;
}
.box_desc_fifth_fourth4nd {
	width: calc(100% + 20px);
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
	text-align: center;
	
}
.box_desc_fifth_fourth4nd iframe {
    position: absolute;
    top: 0px;
    left: -10px;
	right: 0px;
	bottom: 0px;
    width: calc(100% + 20px);
    height: 100%;
}

/* footer_screen */
#footer_screen {
width: 100vw;
min-height: 100px;
margin: 0px 0px 0px 0px;
padding: 20px auto 20px auto;
background-color: rgba(0, 0, 0, 0.7);
border: none;
display: block;
vertical-align: top;
color: #FFFFFF;
font-size: clamp(12px, 1vw, 14px);
}
.logo em{.
font-size: 8px;
color: #999999;
}
#footer_screen h1 {
font-size: clamp(26px, 3vw, 34px);
color: var(--pastel-orange-1-color);
font-weight: lighter;
}
#footer_screen h2 {
font-size: clamp(18px, 1vw, 24px);
color: var(--pastel-orange-1-color);
font-weight: lighter;
}
#footer_screen span{
display: inline-block;
vertical-align: top;
max-width : 340px;
text-align: left;
margin: 20px;
}

#lokasi .row .col-md{
vertical-align: top;
display: inline-block;
width: auto;
margin: 10px 5px 10px 5px;
padding: 20px 5px 20px 5px;
vertical-align: top;
text-align: left;
}
